/* Variables */

$font-text: 'Roboto Slab', sans-serif;
$font-title: 'Montserrat', sans-serif;

$color-primary: #f1c40f;
$color-secondary: #ecf0f1;
$color-text: #7f8c8d;
$color-black: black;
$color-white: #fff;

/* Global */

body {
  font-family: $font-title;
  font-size: 14px;
  line-height: 1.7;
  margin: 0;
  padding: 0;
}

p {
  color: $color-text;
  font-family: $font-text;
}

section {
  padding: 100px 0;
}

.section-title {
  text-align: center;
}

.section-title h3 {
  font-size: 36px;
  margin: 0;
}

.section-title p {
  margin: 0;
  font-style: italic;
}

/* Splash */

.splash {
  background-image: url(https://i.postimg.cc/wTp1YDDW/red-and-blue-hot-air-balloon-floating-on-air-on-body-of-36487.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin: 0;
}

.logo {
  padding: 50px;
  height: 100%;
  display: none;
}

.logo i {
  color: $color-white;
  transform: scale(4);
  color: $color-primary;
}

.navbar-menu {
  padding: 0;
  height: 30px;
  justify-content: flex-start;
  text-align: center;
}

.btn-nav {
  padding-left: 1px;
}

.btn-link {
  display: block;
  text-align: center;
  text-decoration: none;
  color: $color-white;
  width: 100%;
  height: 100%;
  padding: 0 5px;
  margin-bottom: 20px;
}

.welcome-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.welcome-txt h1, .welcome-txt h2 {
  color: $color-white;
  text-align: center;
}

.welcome-txt h1 {
  font-size: 24px;
  margin: 20px;
}

.welcome-txt h2 {
  font-size: 32px;
  margin: 0;
  font-family: $font-text;
  font-style: italic;
}

.btn-tellmore{
  font-size: 17px;
  display: inline-block;
  background-color: $color-primary;
  width: 200px;
  height: 50px;
  border-radius: 7px;
  text-align: center;
  margin-top: 30px;
  line-height: 3;
}

/* Services */

.row-services {
  margin-top: 100px;
}

.service {
  text-align: center;
  margin-bottom: 50px;
}

.service i {
  transform: scale(2.5);
  color: $color-primary;
  border-radius: 50%;
  border-color: $color-primary;
  border: 1px solid;
  padding-top: 6px;
  margin-bottom: 15px;
  height: 27.75px;
  width: 27.75px;
}

.service h4 {
  font-size: 18px;
  margin-bottom: 0;
}

.service p {
  margin-top: 5px;
}

/* Trips */

.trips {
  background-color: $color-secondary;
}

.title-trips {
  margin-bottom: 100px;
}

.row-trips {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0;
}

.trip {
  flex-direction: column;
  padding: 0;
  align-items: center;
  background-color: $color-white;
  height: 400px;
  margin-bottom: 100px;
  max-width: 250px;
}

.link-trip {
  text-decoration: none;
}

.img-trip {
  width: 100%;
  height: 77%;
  padding: 0;
}

.img-trip img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.caption-trip {
  width: 100%;
  text-align: center;
  margin-top: 17px;
}

.caption-trip h4 {
  margin: 0;
  font-size: 20px;
  color: $color-black;
}

.caption-trip p {
  margin: 0;
  font-style: italic;
}

/* Footer */


.row-footer {
  margin: 20px 0 10px 0;
  flex-direction: column;
}

.social-media {
  text-align: center;
  order: 1;
}

.social-media a {
  font-size: 0;
}

.social-media i {
  background-color: $color-black;
  color: $color-white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  transform: scale(1.5);
  margin: 10px 15px;
  padding-top: 8px;
  font-size: 14px;
}

.copyright {
  order: 2;
  bottom: 0;
  text-align: center;
  margin-top: 5px;
}

/* Media */

@media (min-width: 576px) {
  .trip {
    height: 500px;
    max-width: 350px;
  }
}

@media (min-width: 992px) {

  /* Splash */

  .navbar {
    height: 100px;
  }

  .logo {
    display: block;
  }

  .navbar-menu {
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .btn-nav {
    padding-left: 18px;
  }

  .btn-link {
    padding: 20px 13px;
  }

  .welcome-txt h1 {
    font-size: 64px;
  }

  .welcome-txt h2 {
    font-size: 48px;
  }

  .btn-tellmore {
    font-size: 22px;
    height: 80px;
    width: 300px;
    line-height: 2;
  }

  /* Services */

  .service {
    margin-bottom: 0px;
  }

  /* Trips */

  .row-trips {
    justify-content: space-between;
    flex-direction: row;
  }

  .trip {
    max-width: 300px;
  }

/* Footer */

  .row-footer {
    margin: 50px 0;
    flex-direction: row;
  }

  .social-media {
    order: 2;
  }

  .copyright {
    order: 1;
  }
}

@media (min-width: 1200px) {
  .trip {
    max-width: 350px;
  }
}
