/* Variables */

$font-text: 'Roboto Slab', sans-serif;
$font-title: 'Montserrat', sans-serif;

$color-one: #f1c40f;
$color-two: #7f8c8d;
$color-three: #ecf0f1;

/* Global */

body {
  font-family: $font-title;
  font-size: 14px;
  line-height: 1.7;
  margin: 0;
  padding: 0;
}

p {
  color: $color-two;
  font-family: $font-text;
}

section {
  padding: 100px 0;
}

.section-title {
  text-align: center;
}

.section-title h3 {
  font-size: 36px;
  margin: 0;
}

.section-title p {
  margin: 0;
  font-style: italic;
}

/* Splash */

.splash {
  background-image: url(https://i.postimg.cc/wTp1YDDW/red-and-blue-hot-air-balloon-floating-on-air-on-body-of-36487.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  height: 100px;
  align-items: center;
}

.logo {
  padding: 50px;
  height: 100%;
}

.pagelogo {
  color: #fff;
  transform: scale(4);
  color: $color-one;
}

.navbar-menu {
  padding: 0;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.navbtn {
  padding-left: 20px;
}

.btn-link {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  width: 100%;
  height: 100%;
}

.btn-nav {
  padding: 20px 13px;
}

.welcometxt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
}

.welcometxt h1, .welcometxt h2 {
  color: #fff;
}

.welcometxt h1 {
  font-size: 64px;
  margin: 20px;
}

.welcometxt h2 {
  font-size: 48px;
  margin: 0;
  font-family: $font-text;
  font-style: italic;
}

.btn-tellmore{
  font-size: 20px;
  display: inline-block;
  background-color: $color-one;
  width: 300px;
  height: 80px;
  border-radius: 7px;
  text-align: center;
  padding: 22px;
  margin-top: 30px;
}

/* Services */

.row-services {
  margin-top: 100px;
}

.service {
  text-align: center;
}

.service i {
  transform: scale(2.5);
  color: $color-one;
  border-radius: 50%;
  border-color: $color-one;
  border: 1px solid;
  padding-top: 6px;
  margin-bottom: 15px;
  height: 27.75px;
  width: 27.75px;
}

.service h4 {
  font-size: 18px;
  margin-bottom: 0;
}

.service p {
  margin-top: 5px;
}

/* Trips */

.trips {
  background-color: $color-three;
}

.title-trips {
  margin-bottom: 100px;
}

.row-trips {
  height: 500px;
  justify-content: space-between;
  margin: 0;
}

.row-trips-1 {
  margin: 50px 0;
}

.trip {
  flex-direction: column;
  padding: 0;
  align-items: center;
  background-color: #fff;
  max-width: 350px;
  max-height: 500px;
}

.link-trip {
  text-decoration: none;
}

.img-trip {
  width: 100%;
  height: 77%;
  padding: 0;
}

.img-trip img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.caption-trip {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.caption-trip h4 {
  margin: 0;
  font-size: 20px;
  color: black;
}

.caption-trip p {
  margin: 0;
  font-style: italic;
}

/* Footer */


.row-footer {
  margin: 50px 0;
}

.copyright {

}

.socialmedia {
  text-align: center;
}

.socialmedia a {
  font-size: 0;
}

.socialmedia i {
  background-color: black;
  color: #fff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  transform: scale(1.5);
  margin: 10px 15px;
  padding-top: 8px;
  font-size: 14px;
}
